# Downloading data for last 2 years from Yahoo!
ticker = "MSFT"
today = as.numeric(format(Sys.Date(), "%d"))
month = as.numeric(format(Sys.Date(), "%m"))
year = as.numeric(format(Sys.Date(), "%Y"))
a = month - 1
b = today
c = year - 2
d = a
e = b
f = year
data_url = paste("https://chart.finance.yahoo.com/table.csv?s=",ticker,"&a=",a,"&b=",b,"&c=",c,"&d=",d,"&e=",e,"&f=",f,"&g=d&ignore=.csv", sep="")
x <- read.csv(url(data_url, method = "libcurl"))

#Calculating Daily returns for the last 1 year
dates <- as.Date(x[1:252, "Date"])
dc1 <- x[1:252,"Adj.Close"]
dc2 <- x[2:253,"Adj.Close"]
r = round((dc1-dc2)/dc2*100, 3)
returns <- data.frame(dates, dc1, r)
colnames(returns) <- c("Date","Price","% Return")
returns

#Time Series Plot for price
plot(dates, dc1, main="NASDAQ Price History", xlab="Date", ylab="Price")
lines(dates, dc1)

#Histogram for daily returns returns
bins = seq(-4.5,4.5,by=0.5)
rcut = cut(r, bins, right=FALSE)
freq = table(rcut)
hist(r, right=FALSE,
	bins,
	main = "Daily Returns Histogram",
	xlab = "Daily Return (%)",
	ylab = "Frequency")

#Displaying statistics on graph
#Mean
xbar = mean(r)
xbar

#Median
M = median(r)
M

#Standard Deviation
s = sd(r)
s

abline(v=xbar,col = "blue")
text(xbar, 80, "Mean", col = "blue")
abline(v=M, col = "red")
text(M, 65, "Median", col = "red")
abline(v=xbar+s, col = "darkgreen")
text(xbar+s, 50, "xbar + s", col = "darkgreen")
abline(v=xbar-s, col = "darkgreen")
text(xbar-s, 50, "xbar - s", col = "darkgreen")

